@import "tailwindcss";

@theme {
  /* Use --font-poppins to avoid conflicts with default tailwind sans */
  --font-poppins: "Poppins", sans-serif;
  --color-brand: #3b271e;
}

/* Force the entire document to use the variable */
:root {
  font-family: var(--font-poppins);
}

body {
  font-family: var(--font-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}